{% extends './base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'immin/css/post_base.css' %}">
{% endblock css %}

{% block logo_text %} <!--게시판 화면이므로 로고 넣기-->
    
    <div class="top-center-text no-underline">
        <a href="{% url 'post_base' %}" class="no-underline"><h2>구인구직</h2></a>
    </div>
    {% block sub_logo %}
    {% endblock sub_logo %}
{% endblock logo_text %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light text-white-color">
                <ul class="nav nav-tabs w-100">
                    <li class="nav-item">
                        <a href="{% url 'post_all' %}" class="nav-link font-weight-bold">전체게시글</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'post_offer' %}" class="nav-link font-weight-bold">구인</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'post_job' %}" class="nav-link font-weight-bold">구직</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'post_pro' %}" class="nav-link font-weight-bold">홍보</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">조회수</th>
                    <th scope="col">작성일</th>
                </tr>
            </thead>
            <tbody>
                {% if posts %}
                {% for post in posts %}
                <tr>
                    <td><a class="no-underline" href="{% url 'post_detail' forloop.counter %}">{{ forloop.counter }}</a></td>
                    <td><a class="no-underline" href="{% url 'post_detail' forloop.counter %}">{{ post.title }}</a></td>
                    <td><a class="no-underline" href="{% url 'post_detail' forloop.counter %}">{{ post.author.nickname }}</a></td>
                    <td><a class="no-underline" href="{% url 'post_detail' forloop.counter %}">{{ post.view_rating }}</a></td>
                    <td><a class="no-underline" href="{% url 'post_detail' forloop.counter %}">{{ post.dt_created }}</a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3" class="center-text">질문이 없습니다.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <hr>
        <a class="btn btn-primary" href="{% url 'write_post' %}">글쓰기</a>
        <div class="container center-text">
            <div class="text-center">
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                </ul>
            </div>
        </div>
        {% block posts %}
        {% endblock posts %}
        <!--각각 전체, 구인, 구직, 홍보마다 글 다르게-->
{% endblock content %}