{% extends 'immin/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'immin/css/account_signup.css' %}">
{% endblock css %}

{% block logo_text %}
{% endblock logo_text %}

{% block content %}
<div class="top-center-text no-underline">
    <a href="{% url 'account_signup' %}" class="no-underline"><h2>회원가입</h2></a>
</div>
<form method="post">
  {% csrf_token %}
  <div>
    <div class="container my-3">
        <div "mb-3">
            {{form.email|add_class:"cp-input form-control"|attr:"placeholder:이메일"|add_error_class:"error"}}
            {% for error in form.email.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div "mb-3">
            {{form.nickname|add_class:"cp-input form-control"|attr:"placeholder:닉네임"|add_error_class:"error"}}
            {% for error in form.nickname.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div "mb-3">
            {{form.password1|add_class:"cp-input form-control"|attr:"placeholder:비밀번호"|add_error_class:"error"}}
            {% for error in form.password1.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div "mb-3">
            {{form.password2|add_class:"cp-input form-control"|attr:"placeholder:비밀번호 확인"|add_error_class:"error"}}
            {% for error in form.password2.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <button class="cp-button btn btn-primary" type="submit">회원가입</button>
        
        <div class="info">
            <a>이미 회원이신가요? </a><a class="item" href="{% url 'account_login' %}">로그인</a>
        </div>
        
            {% comment %}
            {% include "immin.form_errors.html" %}
            <div class="mb-3">
                <label for="username">닉네임</label>
                <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="password1">비밀번호</label>
                <input type="password" class="form-control" name="password1" id="password1"
                       value="{{ form.password1.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="password2">비밀번호 확인</label>
                <input type="password" class="form-control" name="password2" id="password2"
                       value="{{ form.password2.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="email">이메일</label>
                <input type="text" class="form-control" name="email" id="email"
                       value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">가입하기</button>
            {% endcomment %}
</form>
{% endblock content %}